# Node modules
node_modules/

# Build files
build/
dist/

# Logs
logs/
*.log
npm-debug.log*

# .env file for environment variables
.env

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

